TEI_documentation/openStemmata.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:tei="http://www.tei-c.org/ns/1.0"
         xmlns:teix="http://www.tei-c.org/ns/Examples"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://www.tei-c.org/ns/1.0"><!--
Schema generated from ODD source 2021-01-09T19:47:51Z. .
TEI Edition: Version 3.5.0. Last updated on
	29th January 2019, revision 3c0c64ec4
TEI Edition Location: http://www.tei-c.org/Vault/P5/Version 3.5.0/
  
--><!--[https://creativecommons.org/licenses/by/4.0] -->
   <define name="tei_macro.paraContent">
      <zeroOrMore>
         <choice>
            <text/>
            <ref name="tei_model.gLike"/>
            <ref name="tei_model.phrase"/>
            <ref name="tei_model.inter"/>
            <ref name="tei_model.global"/>
        
            <ref name="tei_model.lLike"/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="tei_macro.limitedContent">
      <zeroOrMore>
         <choice>
            <text/>
            <ref name="tei_model.limitedPhrase"/>
            <ref name="tei_model.inter"/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="tei_macro.phraseSeq">
      <zeroOrMore>
         <choice>
            <text/>
            <ref name="tei_model.gLike"/>
            <ref name="tei_model.qLike"/>
            <ref name="tei_model.phrase"/>
            <ref name="tei_model.global"/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="tei_macro.phraseSeq.limited">
      <zeroOrMore>
         <choice>
            <text/>
            <ref name="tei_model.limitedPhrase"/>
            <ref name="tei_model.global"/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="tei_macro.specialPara">
      <zeroOrMore>
         <choice>
            <text/>
            <ref name="tei_model.gLike"/>
            <ref name="tei_model.phrase"/>
            <ref name="tei_model.inter"/>
            <ref name="tei_model.divPart"/>
            <ref name="tei_model.global"/>
         </choice>
      </zeroOrMore>
   </define>
   <define name="tei_att.dimensions.attributes">
      <ref name="tei_att.dimensions.attribute.unit"/>
   </define>
   <define name="tei_att.dimensions.attribute.unit">
      <optional>
         <attribute name="unit">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">names the unit used for the measurement
Suggested values include: 1] cm (centimetres) ; 2] mm (millimetres) ; 3] in (inches) ; 4] lines; 5] chars (characters) </a:documentation>
            <choice>
               <value>cm</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(centimetres) </a:documentation>
               <value>mm</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(millimetres) </a:documentation>
               <value>in</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(inches) </a:documentation>
               <value>lines</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">lines of text</a:documentation>
               <value>chars</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(characters) characters of text</a:documentation>
               <data type="token">
                  <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
               </data>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.declarable.attributes">
      <ref name="tei_att.declarable.attribute.default"/>
   </define>
   <define name="tei_att.declarable.attribute.default">
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    name="default"
                    a:defaultValue="false">
            <a:documentation>indicates whether or not this element is selected by default when its parent is selected.</a:documentation>
            <choice>
               <value>true</value>
               <a:documentation>This element is selected if its parent is selected</a:documentation>
               <value>false</value>
               <a:documentation>This element can only be selected explicitly, unless it is the only one of its kind, in which case it is selected if its parent is selected.</a:documentation>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.declaring.attributes">
      <ref name="tei_att.declaring.attribute.decls"/>
   </define>
   <define name="tei_att.declaring.attribute.decls">
      <optional>
         <attribute name="decls">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies one or more declarable elements within the header, which are understood to apply to the element bearing this attribute and its content.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.docStatus.attributes">
      <ref name="tei_att.docStatus.attribute.status"/>
   </define>
   <define name="tei_att.docStatus.attribute.status">
      <optional>
         <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                    name="status"
                    a:defaultValue="draft">
            <a:documentation>describes the status of a document either currently or, when associated with a dated element, at the time indicated.
Sample values include: 1] approved; 2] candidate; 3] cleared; 4] deprecated; 5] draft; 6] embargoed; 7] expired; 8] frozen; 9] galley; 10] proposed; 11] published; 12] recommendation; 13] submitted; 14] unfinished; 15] withdrawn</a:documentation>
            <data type="token">
               <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.attributes">
      <ref name="tei_att.global.attribute.xmlid"/>
      <ref name="tei_att.global.attribute.n"/>
   </define>
   <define name="tei_att.global.attribute.xmlid">
      <optional>
         <attribute name="xml:id">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) provides a unique identifier for the element bearing the attribute.</a:documentation>
            <data type="ID"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.global.attribute.n">
      <optional>
         <attribute name="n">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(number) gives a number (or other label) for an element, which is not necessarily unique within the document.</a:documentation>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.internetMedia.attributes">
      <ref name="tei_att.internetMedia.attribute.mimeType"/>
   </define>
   <define name="tei_att.internetMedia.attribute.mimeType">
      <optional>
         <attribute name="mimeType">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(MIME media type) specifies the applicable multimedia internet mail extension (MIME) media type</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.naming.attributes">
      <ref name="tei_att.naming.attribute.role"/>
   </define>
   <define name="tei_att.naming.attribute.role">
      <optional>
         <attribute name="role">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">may be used to specify further information about the entity referenced by this name in the form of a set of whitespace-separated values, for example the occupation of a person, or the status of a place.</a:documentation>
            <list>
               <oneOrMore>
                  <data type="token">
                     <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
                  </data>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.placement.attributes">
      <ref name="tei_att.placement.attribute.place"/>
   </define>
   <define name="tei_att.placement.attribute.place">
      <optional>
         <attribute name="place">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies where this item is placed.
Suggested values include: 1] below; 2] bottom; 3] margin; 4] top; 5] opposite; 6] overleaf; 7] above; 8] end; 9] inline; 10] inspace</a:documentation>
            <list>
               <oneOrMore>
                  <choice>
                     <value>below</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">below the line</a:documentation>
                     <value>bottom</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">at the foot of the page</a:documentation>
                     <value>margin</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">in the margin (left, right, or both)</a:documentation>
                     <value>top</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">at the top of the page</a:documentation>
                     <value>opposite</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">on the opposite, i.e. facing, page</a:documentation>
                     <value>overleaf</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">on the other side of the leaf</a:documentation>
                     <value>above</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">above the line</a:documentation>
                     <value>end</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">at the end of e.g. chapter or volume.</a:documentation>
                     <value>inline</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">within the body of the text.</a:documentation>
                     <value>inspace</value>
                     <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">in a predefined space, for example left by an earlier scribe.</a:documentation>
                     <data type="token">
                        <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
                     </data>
                  </choice>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.typed.attributes">
      <ref name="tei_att.typed.attribute.type"/>
   </define>
   <define name="tei_att.typed.attribute.type">
      <optional>
         <attribute name="type">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes the element in some sense, using any convenient classification scheme or typology.</a:documentation>
            <data type="token">
               <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="openStemmata-att.typed-subtypeTyped-constraint-rule-1">
      <sch:rule xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns="http://www.tei-c.org/ns/1.0"
                xmlns:s="http://purl.oclc.org/dsdl/schematron"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                context="tei:*[@subtype]">
        <sch:assert test="@type">The <sch:name/> element should not be categorized in detail with @subtype unless also categorized in general with @type</sch:assert>
      </sch:rule>
   </pattern>
   <define name="tei_att.pointing.attributes">
      <ref name="tei_att.pointing.attribute.target"/>
   </define>
   <define name="tei_att.pointing.attribute.target">
      <optional>
         <attribute name="target">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the destination of the reference by supplying one or more URI References</a:documentation>
            <list>
               <oneOrMore>
                  <data type="anyURI"/>
               </oneOrMore>
            </list>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.citing.attributes">
      <ref name="tei_att.citing.attribute.unit"/>
      <ref name="tei_att.citing.attribute.from"/>
      <ref name="tei_att.citing.attribute.to"/>
   </define>
   <define name="tei_att.citing.attribute.unit">
      <optional>
         <attribute name="unit">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the unit of information conveyed by the element, e.g. columns, pages, volume, entry.
Suggested values include: 1] volume; 2] issue; 3] page; 4] line; 5] chapter; 6] part; 7] column; 8] entry</a:documentation>
            <choice>
               <value>volume</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the element contains a volume number.</a:documentation>
               <value>issue</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the element contains an issue number, or volume and issue numbers.</a:documentation>
               <value>page</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the element contains a page number or page range.</a:documentation>
               <value>line</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the element contains a line number or line range.</a:documentation>
               <value>chapter</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the element contains a chapter indication (number and/or title)</a:documentation>
               <value>part</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the element identifies a part of a book or collection.</a:documentation>
               <value>column</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the element identifies a column.</a:documentation>
               <value>entry</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the element identifies an entry number or label in a list of entries.</a:documentation>
               <data type="token">
                  <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
               </data>
            </choice>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.citing.attribute.from">
      <optional>
         <attribute name="from">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the starting point of the range of units indicated by the unit attribute.</a:documentation>
            <data type="token">
               <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="tei_att.citing.attribute.to">
      <optional>
         <attribute name="to">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the end-point of the range of units indicated by the unit attribute.</a:documentation>
            <data type="token">
               <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="tei_model.nameLike.agent">
      <choice>
         <ref name="tei_name"/>
         <ref name="tei_persName"/>
      </choice>
   </define>
   <define name="tei_model.nameLike.agent_alternation">
      <choice>
         <ref name="tei_name"/>
         <ref name="tei_persName"/>
      </choice>
   </define>
   <define name="tei_model.nameLike.agent_sequence">
      <ref name="tei_name"/>
      <ref name="tei_persName"/>
   </define>
   <define name="tei_model.nameLike.agent_sequenceOptional">
      <optional>
         <ref name="tei_name"/>
      </optional>
      <optional>
         <ref name="tei_persName"/>
      </optional>
   </define>
   <define name="tei_model.nameLike.agent_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_name"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_persName"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.nameLike.agent_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_name"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_persName"/>
      </oneOrMore>
   </define>
   <define name="tei_model.segLike">
      <notAllowed/>
   </define>
   <define name="tei_model.hiLike">
      <notAllowed/>
   </define>
   <define name="tei_model.hiLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.hiLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.hiLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.hiLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.hiLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.emphLike">
      <choice>
         <ref name="tei_term"/>
         <ref name="tei_title"/>
      </choice>
   </define>
   <define name="tei_model.emphLike_alternation">
      <choice>
         <ref name="tei_term"/>
         <ref name="tei_title"/>
      </choice>
   </define>
   <define name="tei_model.emphLike_sequence">
      <ref name="tei_term"/>
      <ref name="tei_title"/>
   </define>
   <define name="tei_model.emphLike_sequenceOptional">
      <optional>
         <ref name="tei_term"/>
      </optional>
      <optional>
         <ref name="tei_title"/>
      </optional>
   </define>
   <define name="tei_model.emphLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_term"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_title"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.emphLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_term"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_title"/>
      </oneOrMore>
   </define>
   <define name="tei_model.highlighted">
      <choice>
         <ref name="tei_model.hiLike"/>
         <ref name="tei_model.emphLike"/>
      </choice>
   </define>
   <define name="tei_model.dateLike">
      <choice>
         <ref name="tei_date"/>
      </choice>
   </define>
   <define name="tei_model.dateLike_alternation">
      <choice>
         <ref name="tei_date"/>
      </choice>
   </define>
   <define name="tei_model.dateLike_sequence">
      <ref name="tei_date"/>
   </define>
   <define name="tei_model.dateLike_sequenceOptional">
      <optional>
         <ref name="tei_date"/>
      </optional>
   </define>
   <define name="tei_model.dateLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_date"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.dateLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_date"/>
      </oneOrMore>
   </define>
   <define name="tei_model.measureLike">
      <notAllowed/>
   </define>
   <define name="tei_model.measureLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.measureLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.measureLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.measureLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.measureLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.egLike">
      <notAllowed/>
   </define>
   <define name="tei_model.egLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.egLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.egLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.egLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.egLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.graphicLike">
      <notAllowed/>
   </define>
   <define name="tei_model.offsetLike">
      <notAllowed/>
   </define>
   <define name="tei_model.offsetLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.offsetLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.offsetLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.offsetLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.offsetLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.msdesc">
      <choice>
         <ref name="tei_origDate"/>
         <ref name="tei_origPlace"/>
      </choice>
   </define>
   <define name="tei_model.pPart.editorial">
      <choice>
         <ref name="tei_abbr"/>
      </choice>
   </define>
   <define name="tei_model.pPart.editorial_alternation">
      <choice>
         <ref name="tei_abbr"/>
      </choice>
   </define>
   <define name="tei_model.pPart.editorial_sequence">
      <ref name="tei_abbr"/>
   </define>
   <define name="tei_model.pPart.editorial_sequenceOptional">
      <optional>
         <ref name="tei_abbr"/>
      </optional>
   </define>
   <define name="tei_model.pPart.editorial_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_abbr"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.pPart.editorial_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_abbr"/>
      </oneOrMore>
   </define>
   <define name="tei_model.pPart.transcriptional">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.transcriptional_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequence">
      <empty/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.pPart.transcriptional_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.pPart.edit">
      <choice>
         <ref name="tei_model.pPart.editorial"/>
         <ref name="tei_model.pPart.transcriptional"/>
      </choice>
   </define>
   <define name="tei_model.ptrLike">
      <choice>
         <ref name="tei_ptr"/>
      </choice>
   </define>
   <define name="tei_model.lPart">
      <notAllowed/>
   </define>
   <define name="tei_model.global.meta">
      <notAllowed/>
   </define>
   <define name="tei_model.milestoneLike">
      <notAllowed/>
   </define>
   <define name="tei_model.gLike">
      <notAllowed/>
   </define>
   <define name="tei_model.oddDecl">
      <notAllowed/>
   </define>
   <define name="tei_model.oddDecl_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.oddDecl_sequence">
      <empty/>
   </define>
   <define name="tei_model.oddDecl_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.oddDecl_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.oddDecl_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.phrase.xml">
      <notAllowed/>
   </define>
   <define name="tei_model.specDescLike">
      <notAllowed/>
   </define>
   <define name="tei_model.biblLike">
      <choice>
         <ref name="tei_bibl"/>
      </choice>
   </define>
   <define name="tei_model.biblLike_alternation">
      <choice>
         <ref name="tei_bibl"/>
      </choice>
   </define>
   <define name="tei_model.biblLike_sequence">
      <ref name="tei_bibl"/>
   </define>
   <define name="tei_model.biblLike_sequenceOptional">
      <optional>
         <ref name="tei_bibl"/>
      </optional>
   </define>
   <define name="tei_model.biblLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_bibl"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.biblLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_bibl"/>
      </oneOrMore>
   </define>
   <define name="tei_model.headLike">
      <notAllowed/>
   </define>
   <define name="tei_model.headLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.headLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.headLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.headLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.headLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.labelLike">
      <choice>
         <ref name="tei_desc"/>
         <ref name="tei_label"/>
      </choice>
   </define>
   <define name="tei_model.labelLike_alternation">
      <choice>
         <ref name="tei_desc"/>
         <ref name="tei_label"/>
      </choice>
   </define>
   <define name="tei_model.labelLike_sequence">
      <ref name="tei_desc"/>
      <ref name="tei_label"/>
   </define>
   <define name="tei_model.labelLike_sequenceOptional">
      <optional>
         <ref name="tei_desc"/>
      </optional>
      <optional>
         <ref name="tei_label"/>
      </optional>
   </define>
   <define name="tei_model.labelLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_desc"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_label"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.labelLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_desc"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_label"/>
      </oneOrMore>
   </define>
   <define name="tei_model.listLike">
      <choice>
         <ref name="tei_listWit"/>
      </choice>
   </define>
   <define name="tei_model.listLike_alternation">
      <choice>
         <ref name="tei_listWit"/>
      </choice>
   </define>
   <define name="tei_model.listLike_sequence">
      <ref name="tei_listWit"/>
   </define>
   <define name="tei_model.listLike_sequenceOptional">
      <optional>
         <ref name="tei_listWit"/>
      </optional>
   </define>
   <define name="tei_model.listLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_listWit"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.listLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_listWit"/>
      </oneOrMore>
   </define>
   <define name="tei_model.noteLike">
      <choice>
         <ref name="tei_note"/>
      </choice>
   </define>
   <define name="tei_model.lLike">
      <notAllowed/>
   </define>
   <define name="tei_model.lLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.lLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.lLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.lLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.lLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.pLike">
      <notAllowed/>
   </define>
   <define name="tei_model.pLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.pLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.pLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.pLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.pLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.stageLike">
      <notAllowed/>
   </define>
   <define name="tei_model.stageLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.stageLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.stageLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.stageLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.stageLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.global.edit">
      <notAllowed/>
   </define>
   <define name="tei_model.divPart">
      <choice>
         <ref name="tei_model.lLike"/>
         <ref name="tei_model.pLike"/>
         <ref name="tei_eTree"/>
      </choice>
   </define>
   <define name="tei_model.placeNamePart">
      <notAllowed/>
   </define>
   <define name="tei_model.placeNamePart_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.placeNamePart_sequence">
      <empty/>
   </define>
   <define name="tei_model.placeNamePart_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.placeNamePart_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.placeNamePart_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.placeStateLike">
      <choice>
         <ref name="tei_model.placeNamePart"/>
      </choice>
   </define>
   <define name="tei_model.placeStateLike_alternation">
      <choice>
         <ref name="tei_model.placeNamePart_alternation"/>
      </choice>
   </define>
   <define name="tei_model.placeStateLike_sequence">
      <ref name="tei_model.placeNamePart_sequence"/>
   </define>
   <define name="tei_model.placeStateLike_sequenceOptional">
      <optional>
         <ref name="tei_model.placeNamePart_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.placeStateLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.placeNamePart_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.placeStateLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.placeNamePart_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_model.availabilityPart">
      <choice>
         <ref name="tei_licence"/>
      </choice>
   </define>
   <define name="tei_model.quoteLike">
      <notAllowed/>
   </define>
   <define name="tei_model.quoteLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.quoteLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.quoteLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.quoteLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.quoteLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.qLike">
      <choice>
         <ref name="tei_model.quoteLike"/>
      </choice>
   </define>
   <define name="tei_model.qLike_alternation">
      <choice>
         <ref name="tei_model.quoteLike_alternation"/>
      </choice>
   </define>
   <define name="tei_model.qLike_sequence">
      <ref name="tei_model.quoteLike_sequence"/>
   </define>
   <define name="tei_model.qLike_sequenceOptional">
      <optional>
         <ref name="tei_model.quoteLike_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.qLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.quoteLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.qLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.quoteLike_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_model.divWrapper">
      <notAllowed/>
   </define>
   <define name="tei_model.divTopPart">
      <choice>
         <ref name="tei_model.headLike"/>
      </choice>
   </define>
   <define name="tei_model.divTop">
      <choice>
         <ref name="tei_model.divWrapper"/>
         <ref name="tei_model.divTopPart"/>
      </choice>
   </define>
   <define name="tei_model.divBottomPart">
      <notAllowed/>
   </define>
   <define name="tei_model.divBottom">
      <choice>
         <ref name="tei_model.divWrapper"/>
         <ref name="tei_model.divBottomPart"/>
      </choice>
   </define>
   <define name="tei_model.addressLike">
      <notAllowed/>
   </define>
   <define name="tei_model.addressLike_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.addressLike_sequence">
      <empty/>
   </define>
   <define name="tei_model.addressLike_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.addressLike_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.addressLike_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_model.nameLike">
      <choice>
         <ref name="tei_model.nameLike.agent"/>
         <ref name="tei_model.offsetLike"/>
         <ref name="tei_model.placeStateLike"/>
         <ref name="tei_idno"/>
         <ref name="tei_model.persNamePart"/>
      </choice>
   </define>
   <define name="tei_model.nameLike_alternation">
      <choice>
         <ref name="tei_model.nameLike.agent_alternation"/>
         <ref name="tei_model.offsetLike_alternation"/>
         <ref name="tei_model.placeStateLike_alternation"/>
         <ref name="tei_idno"/>
         <ref name="tei_model.persNamePart_alternation"/>
      </choice>
   </define>
   <define name="tei_model.nameLike_sequence">
      <ref name="tei_model.nameLike.agent_sequence"/>
      <ref name="tei_model.offsetLike_sequence"/>
      <ref name="tei_model.placeStateLike_sequence"/>
      <ref name="tei_idno"/>
      <ref name="tei_model.persNamePart_sequence"/>
   </define>
   <define name="tei_model.nameLike_sequenceOptional">
      <optional>
         <ref name="tei_model.nameLike.agent_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.offsetLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_model.placeStateLike_sequenceOptional"/>
      </optional>
      <optional>
         <ref name="tei_idno"/>
      </optional>
      <optional>
         <ref name="tei_model.persNamePart_sequenceOptional"/>
      </optional>
   </define>
   <define name="tei_model.nameLike_sequenceOptionalRepeatable">
      <zeroOrMore>
         <ref name="tei_model.nameLike.agent_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.offsetLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.placeStateLike_sequenceOptionalRepeatable"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_idno"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="tei_model.persNamePart_sequenceOptionalRepeatable"/>
      </zeroOrMore>
   </define>
   <define name="tei_model.nameLike_sequenceRepeatable">
      <oneOrMore>
         <ref name="tei_model.nameLike.agent_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.offsetLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.placeStateLike_sequenceRepeatable"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_idno"/>
      </oneOrMore>
      <oneOrMore>
         <ref name="tei_model.persNamePart_sequenceRepeatable"/>
      </oneOrMore>
   </define>
   <define name="tei_model.global">
      <choice>
         <ref name="tei_model.global.meta"/>
         <ref name="tei_model.milestoneLike"/>
         <ref name="tei_model.noteLike"/>
         <ref name="tei_model.global.edit"/>
      </choice>
   </define>
   <define name="tei_model.pPart.data">
      <choice>
         <ref name="tei_model.dateLike"/>
         <ref name="tei_model.measureLike"/>
         <ref name="tei_model.addressLike"/>
         <ref name="tei_model.nameLike"/>
      </choice>
   </define>
   <define name="tei_model.inter">
      <choice>
         <ref name="tei_model.egLike"/>
         <ref name="tei_model.oddDecl"/>
         <ref name="tei_model.biblLike"/>
         <ref name="tei_model.labelLike"/>
         <ref name="tei_model.listLike"/>
         <ref name="tei_model.stageLike"/>
         <ref name="tei_model.qLike"/>
      </choice>
   </define>
   <define name="tei_model.common">
      <choice>
         <ref name="tei_model.divPart"/>
         <ref name="tei_model.inter"/>
      </choice>
   </define>
   <define name="tei_model.phrase">
      <choice>
         <ref name="tei_model.segLike"/>
         <ref name="tei_model.highlighted"/>
         <ref name="tei_model.graphicLike"/>
         <ref name="tei_model.pPart.msdesc"/>
         <ref name="tei_model.pPart.edit"/>
         <ref name="tei_model.ptrLike"/>
         <ref name="tei_model.lPart"/>
         <ref name="tei_model.phrase.xml"/>
         <ref name="tei_model.specDescLike"/>
         <ref name="tei_model.pPart.data"/>
      </choice>
   </define>
   <define name="tei_model.limitedPhrase">
      <choice>
         <ref name="tei_model.hiLike"/>
         <ref name="tei_model.emphLike"/>
         <ref name="tei_model.pPart.msdesc"/>
         <ref name="tei_model.pPart.editorial"/>
         <ref name="tei_model.ptrLike"/>
         <ref name="tei_model.phrase.xml"/>
         <ref name="tei_model.pPart.data"/>
      </choice>
   </define>
   <define name="tei_model.divLike">
      <notAllowed/>
   </define>
   <define name="tei_model.divGenLike">
      <notAllowed/>
   </define>
   <define name="tei_model.div1Like">
      <notAllowed/>
   </define>
   <define name="tei_model.teiHeaderPart">
      <choice>
         <ref name="tei_profileDesc"/>
      </choice>
   </define>
   <define name="tei_model.sourceDescPart">
      <notAllowed/>
   </define>
   <define name="tei_model.profileDescPart">
      <choice>
         <ref name="tei_creation"/>
         <ref name="tei_langUsage"/>
         <ref name="tei_textClass"/>
      </choice>
   </define>
   <define name="tei_model.resourceLike">
      <choice>
         <ref name="tei_text"/>
      </choice>
   </define>
   <define name="tei_att.personal.attributes">
      <ref name="tei_att.naming.attributes"/>
   </define>
   <define name="tei_desc">
      <element name="desc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(description) contains a brief description of the object documented by its parent element, typically a documentation element or an entity. [22.4.1. Description of Components]</a:documentation>
         <ref name="tei_macro.limitedContent"/>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="openStemmata-desc-deprecationInfo-only-in-deprecated-constraint-rule-2">
            <sch:rule xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:s="http://purl.oclc.org/dsdl/schematron"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      context="tei:desc[ @type eq 'deprecationInfo']">
	              <sch:assert test="../@validUntil">Information about a
	deprecation should only be present in a specification element
	that is being deprecated: that is, only an element that has a
	@validUntil attribute should have a child &lt;desc
	type="deprecationInfo"&gt;.</sch:assert>
            </sch:rule>
         </pattern>
         <ref name="tei_att.global.attributes"/>
         <optional>
            <attribute name="type">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes the element in some sense, using any convenient classification scheme or typology.</a:documentation>
               <data type="token">
                  <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
               </data>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_term">
      <element name="term">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a single-word, multi-word, or symbolic designation which is regarded as a technical term. [3.3.4. Terms, Glosses, Equivalents, and Descriptions]</a:documentation>
         <ref name="tei_macro.phraseSeq"/>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="openStemmata-term-authorityFile-constraint-rule-3">
            <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:s="http://purl.oclc.org/dsdl/schematron"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      context="tei:term">
                                    <sch:assert test="@type" role="error">Please add a @type
                                        attribute</sch:assert>
                                    <sch:assert test="matches(@type, 'workGenre|stemmaType|contam|extraStemmContam|rootType')">
                                        The value of @type must be workGenre|stemmaType|contam|extraStemmContam|rootType</sch:assert>
                                </sch:rule>
         </pattern>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.declaring.attributes"/>
         <ref name="tei_att.pointing.attributes"/>
         <attribute name="type">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes the element in some sense, using any convenient classification scheme or typology.</a:documentation>
            <choice>
               <value>workGenre</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <value>stemmaType</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <value>contam</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <value>extraStemmContam</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <value>rootType</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            </choice>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="tei_name">
      <element name="name">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(name, proper noun) contains a proper noun or noun phrase. [3.5.1. Referring Strings]</a:documentation>
         <ref name="tei_macro.phraseSeq"/>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="openStemmata-name-authorityFile-constraint-rule-4">
            <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:s="http://purl.oclc.org/dsdl/schematron"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      context="tei:title//tei:name">
                                    <sch:assert test="@role" role="error">Please add a @role
                                        attribute</sch:assert>
                                    <sch:assert test="matches(@role, 'author')">The value of @role is author</sch:assert>
                                </sch:rule>
         </pattern>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.personal.attributes"/>
         <ref name="tei_att.typed.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_date">
      <element name="date">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a date in any format. [3.5.4. Dates and Times 2.2.4. Publication, Distribution, Licensing, etc. 2.6. The Revision Description 3.11.2.4. Imprint, Size of a Document, and Reprint Information 15.2.3. The Setting Description 13.3.7. Dates and Times]</a:documentation>
         <zeroOrMore>
            <choice>
               <text/>
               <ref name="tei_model.gLike"/>
               <ref name="tei_model.phrase"/>
               <ref name="tei_model.global"/>
            </choice>
         </zeroOrMore>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.dimensions.attributes"/>
         <ref name="tei_att.typed.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_abbr">
      <element name="abbr">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(abbreviation) contains an abbreviation of any sort. [3.5.5. Abbreviations and Their Expansions]</a:documentation>
         <ref name="tei_macro.phraseSeq"/>
         <ref name="tei_att.global.attributes"/>
         <optional>
            <attribute name="type">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">allows the encoder to classify the abbreviation according to some convenient typology.
Sample values include: 1] suspension; 2] contraction; 3] brevigraph; 4] superscription; 5] acronym; 6] title; 7] organization; 8] geographic</a:documentation>
               <data type="token">
                  <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
               </data>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_ptr">
      <element name="ptr">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(pointer) defines a pointer to another location. [3.6. Simple Links and Cross-References 16.1. Links]</a:documentation>
         <empty/>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="openStemmata-ptr-ptrAtts-constraint-report-1">
            <rule context="tei:ptr">
               <report xmlns:s="http://purl.oclc.org/dsdl/schematron"
                       xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                       test="@target and @cRef">Only one of the
attributes @target and @cRef may be supplied on <name/>.</report>
            </rule>
         </pattern>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.internetMedia.attributes"/>
         <ref name="tei_att.declaring.attributes"/>
         <optional>
            <attribute name="target">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the destination of the reference by supplying one or more URI References</a:documentation>
               <data type="string"/>
            </attribute>
         </optional>
         <optional>
            <attribute name="type">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes the element in some sense, using any convenient classification scheme or typology.</a:documentation>
               <choice>
                  <value>digitised</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
                  <value>description</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_label">
      <element name="label">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains any label or heading used to identify part of a text, typically but not exclusively in a list or glossary. [3.7. Lists]</a:documentation>
         <ref name="tei_macro.phraseSeq"/>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="openStemmata-label-descId-constraint-rule-5">
            <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:s="http://purl.oclc.org/dsdl/schematron"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      context="tei:label">
                                    <sch:assert test="@xml:id" role="error">Please add a @xml:id
                                        attribute</sch:assert>
                                    <sch:assert test="matches(@xml:id, 'n_.*')">L'id doit commencer par n_</sch:assert>
                                </sch:rule>
         </pattern>
         <ref name="tei_att.global.attribute.n"/>
         <ref name="tei_att.placement.attributes"/>
         <attribute name="xml:id">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) provides a unique identifier for the element bearing the attribute.</a:documentation>
            <data type="ID"/>
         </attribute>
         <optional>
            <attribute name="type">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes the element in some sense, using any convenient classification scheme or typology.</a:documentation>
               <choice>
                  <value>hypothetical</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_note">
      <element name="note">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a note or annotation. [3.8.1. Notes and Simple Annotation 2.2.6. The Notes Statement 3.11.2.8. Notes and Statement of Language 9.3.5.4. Notes within Entries]</a:documentation>
         <ref name="tei_macro.specialPara"/>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.placement.attributes"/>
         <ref name="tei_att.pointing.attributes"/>
         <ref name="tei_att.typed.attributes"/>
         <optional>
            <attribute xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
                       name="anchored"
                       a:defaultValue="true">
               <a:documentation>indicates whether the copy text shows the exact place of reference for the note.</a:documentation>
               <data type="boolean"/>
            </attribute>
         </optional>
         <optional>
            <attribute name="targetEnd">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to the end of the span to which the note is attached, if the note is not embedded in the text at that point.</a:documentation>
               <list>
                  <oneOrMore>
                     <data type="anyURI"/>
                  </oneOrMore>
               </list>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_series">
      <element name="series">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(series information) contains information about the series in which a book or other bibliographic item has appeared. [3.11.2.1. Analytic, Monographic, and Series Levels]</a:documentation>
         <zeroOrMore>
            <choice>
               <text/>
               <ref name="tei_model.gLike"/>
               <ref name="tei_title"/>
               <ref name="tei_model.ptrLike"/>
        
               <ref name="tei_respStmt"/>
               <ref name="tei_biblScope"/>
               <ref name="tei_idno"/>
        
               <ref name="tei_model.global"/>
               <ref name="tei_availability"/>
            </choice>
         </zeroOrMore>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_author">
      <element name="author">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">in a bibliographic reference, contains the name(s) of an author, personal or corporate, of a work; for example in the same form as that provided by a recognized bibliographic name authority. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement]</a:documentation>
         <ref name="tei_macro.phraseSeq"/>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.naming.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_respStmt">
      <element name="respStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(statement of responsibility) supplies a statement of responsibility for the intellectual content of a text, edition, recording, or series, where the specialized elements for authors, editors, etc. do not suffice or do not apply. May also be used to encode information about individuals or organizations which have played a role in the production or distribution of a bibliographic work. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.2. The Edition Statement 2.2.5. The Series Statement]</a:documentation>
         <group>
            <ref name="tei_resp"/>
            <ref name="tei_persName"/>
            <ref name="tei_idno"/>
         </group>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_resp">
      <element name="resp">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(responsibility) contains a phrase describing the nature of a person's intellectual responsibility, or an organization's role in the production or distribution of a work. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.2. The Edition Statement 2.2.5. The Series Statement]</a:documentation>
         <ref name="tei_macro.phraseSeq.limited"/>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_title">
      <element name="title">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a title for any kind of work. [3.11.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.5. The Series Statement]</a:documentation>
         <ref name="tei_macro.paraContent"/>
         <ref name="tei_att.global.attributes"/>
         <optional>
            <attribute name="type">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">classifies the title according to some convenient typology.
Sample values include: 1] main; 2] sub (subordinate) ; 3] alt (alternate) ; 4] short; 5] desc (descriptive) </a:documentation>
               <data type="token">
                  <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
               </data>
            </attribute>
         </optional>
         <optional>
            <attribute name="level">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the bibliographic level for a title, that is, whether it identifies an article, book, journal, series, or unpublished material.</a:documentation>
               <choice>
                  <value>a</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(analytic) the title applies to an analytic item, such as an article, poem, or other work published as part of a larger item.</a:documentation>
                  <value>m</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(monographic) the title applies to a monograph such as a book or other item considered to be a distinct publication, including single volumes of multi-volume works</a:documentation>
                  <value>j</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(journal) the title applies to any serial or periodical publication such as a journal, magazine, or newspaper</a:documentation>
                  <value>s</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(series) the title applies to a series of otherwise distinct publications such as a collection</a:documentation>
                  <value>u</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(unpublished) the title applies to any unpublished material (including theses and dissertations unless published by a commercial press)</a:documentation>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_biblScope">
      <element name="biblScope">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(scope of bibliographic reference) defines the scope of a bibliographic reference, for example as a list of page numbers, or a named subdivision of a larger work. [3.11.2.5. Scopes and Ranges in Bibliographic Citations]</a:documentation>
         <ref name="tei_macro.phraseSeq"/>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.citing.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_pubPlace">
      <element name="pubPlace">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(publication place) contains the name of the place where a bibliographic item was published. [3.11.2.4. Imprint, Size of a Document, and Reprint Information]</a:documentation>
         <ref name="tei_macro.phraseSeq"/>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.naming.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_bibl">
      <element name="bibl">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(bibliographic citation) contains a loosely-structured bibliographic citation of which the sub-components may or may not be explicitly tagged. [3.11.1. Methods of Encoding Bibliographic References and Lists of References 2.2.7. The Source Description 15.3.2. Declarable Elements]</a:documentation>
         <group>
            <ref name="tei_title"/>
            <ref name="tei_date"/>
            <ref name="tei_pubPlace"/>
            <ref name="tei_series"/>
            <ref name="tei_biblScope"/>
            <ref name="tei_author"/>
            <ref name="tei_biblScope"/>
            <ref name="tei_ptr"/>
         </group>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.declarable.attributes"/>
         <ref name="tei_att.docStatus.attributes"/>
         <attribute name="type">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes the element in some sense, using any convenient classification scheme or typology.</a:documentation>
            <choice>
               <value>book</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <value>article</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            </choice>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="tei_teiHeader">
      <element name="teiHeader">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(TEI header) supplies descriptive and declarative metadata associated with a digital resource or set of resources. [2.1.1. The TEI Header and Its Components 15.1. Varieties of Composite Text]</a:documentation>
         <group>
            <ref name="tei_fileDesc"/>
      
            <zeroOrMore>
               <ref name="tei_model.teiHeaderPart"/>
            </zeroOrMore>
      
      
        
      
         </group>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_fileDesc">
      <element name="fileDesc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(file description) contains a full bibliographic description of an electronic file. [2.2. The File Description 2.1.1. The TEI Header and Its Components]</a:documentation>
         <group>
            <group>
               <ref name="tei_titleStmt"/>
        
          
        
        
          
        
               <ref name="tei_publicationStmt"/>
        
          
        
        
               <optional>
                  <ref name="tei_notesStmt"/>
               </optional>
        
            </group>
      
            <oneOrMore>
               <ref name="tei_sourceDesc"/>
            </oneOrMore>
      
         </group>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_titleStmt">
      <element name="titleStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(title statement) groups information about the title of a work and those responsible for its content. [2.2.1. The Title Statement 2.2. The File Description]</a:documentation>
         <group>
            <group>
               <ref name="tei_title"/>
               <ref name="tei_title"/>
            </group>
            <ref name="tei_author"/>
            <ref name="tei_respStmt"/>
         </group>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_publicationStmt">
      <element name="publicationStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(publication statement) groups information concerning the publication or distribution of an electronic or other text. [2.2.4. Publication, Distribution, Licensing, etc. 2.2. The File Description]</a:documentation>
         <group>
            <ref name="tei_authority"/>
            <ref name="tei_availability"/>
         </group>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_authority">
      <element name="authority">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(release authority) supplies the name of a person or other agency responsible for making a work available, other than a publisher or distributor. [2.2.4. Publication, Distribution, Licensing, etc.]</a:documentation>
         <group>
            <ref name="tei_name"/>
            <ref name="tei_ptr"/>
         </group>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_idno">
      <element name="idno">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) supplies any form of identifier used to identify some object, such as a bibliographic item, a person, a title, an organization, etc. in a standardized way. [2.2.4. Publication, Distribution, Licensing, etc. 2.2.5. The Series Statement 3.11.2.4. Imprint, Size of a Document, and Reprint Information]</a:documentation>
         <zeroOrMore>
            <choice>
               <text/>
               <ref name="tei_model.gLike"/>
               <ref name="tei_idno"/>
            </choice>
         </zeroOrMore>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="openStemmata-idno-authorityFile-constraint-rule-6">
            <sch:rule xmlns:xi="http://www.w3.org/2001/XInclude"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:s="http://purl.oclc.org/dsdl/schematron"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      context="tei:editor//tei:idno|tei:name//tei:idno">
                                    <sch:assert test="@type" role="error">Please add a @type
                                        attribute</sch:assert>
                                    <sch:assert test="matches(@type, 'VIAF|ORCID')">The ide must begin with n_</sch:assert>
                                </sch:rule>
         </pattern>
         <ref name="tei_att.global.attributes"/>
         <optional>
            <attribute name="type">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">categorizes the identifier, for example as an ISBN, Social Security number, etc.
Suggested values include: 1] ISBN; 2] ISSN; 3] DOI; 4] URI; 5] VIAF; 6] ESTC; 7] OCLC</a:documentation>
               <choice>
                  <value>ISBN</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">International Standard Book Number: a 13- or (if assigned prior to 2007) 10-digit identifying number assigned by the publishing industry to a published book or similar item, registered with the International ISBN Agency.</a:documentation>
                  <value>ISSN</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">International Standard Serial Number: an eight-digit number to uniquely identify a serial publication.</a:documentation>
                  <value>DOI</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Digital Object Identifier: a unique string of letters and numbers assigned to an electronic document.</a:documentation>
                  <value>URI</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Uniform Resource Identifier: a string of characters to uniquely identify a resource which usually contains indication of the means of accessing that resource, the name of its host, and its filepath.</a:documentation>
                  <value>VIAF</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A data number in the Virtual Internet Authority File assigned to link different names in catalogs around the world for the same entity.</a:documentation>
                  <value>ESTC</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">English Short-Title Catalogue number: an identifying number assigned to a document in English printed in the British Isles or North America before 1801.</a:documentation>
                  <value>OCLC</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">OCLC control number (record number) for the union catalog record in WorldCat, a union catalog for member libraries in the Online Computer Library Center global cooperative.</a:documentation>
                  <data type="token">
                     <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
                  </data>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_availability">
      <element name="availability">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies information about the availability of a text, for example any restrictions on its use or distribution, its copyright status, any licence applying to it, etc. [2.2.4. Publication, Distribution, Licensing, etc.]</a:documentation>
         <oneOrMore>
            <choice>
               <ref name="tei_model.availabilityPart"/>
               <ref name="tei_model.pLike"/>
            </choice>
         </oneOrMore>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.declarable.attributes"/>
         <optional>
            <attribute name="status">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a code identifying the current availability of the text.</a:documentation>
               <choice>
                  <value>free</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the text is freely available.</a:documentation>
                  <value>unknown</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the status of the text is unknown.</a:documentation>
                  <value>restricted</value>
                  <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the text is not freely available.</a:documentation>
               </choice>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_licence">
      <element name="licence">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains information about a licence or other legal agreement applicable to the text. [2.2.4. Publication, Distribution, Licensing, etc.]</a:documentation>
         <ref name="tei_macro.specialPara"/>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.pointing.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_notesStmt">
      <element name="notesStmt">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(notes statement) collects together any notes providing information about a text additional to that recorded in other parts of the bibliographic description. [2.2.6. The Notes Statement 2.2. The File Description]</a:documentation>
         <oneOrMore>
            <choice>
               <ref name="tei_model.noteLike"/>
        
            </choice>
         </oneOrMore>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_sourceDesc">
      <element name="sourceDesc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(source description) describes the source from which an electronic text was derived or generated, typically a bibliographic description in the case of a digitized text, or a phrase such as "born digital" for a text which has no previous existence. [2.2.7. The Source Description]</a:documentation>
         <choice>
      
            <oneOrMore>
               <ref name="tei_model.pLike"/>
            </oneOrMore>
      
      
            <oneOrMore>
               <choice>
                  <ref name="tei_model.biblLike"/>
                  <ref name="tei_model.sourceDescPart"/>
                  <ref name="tei_model.listLike"/>
               </choice>
            </oneOrMore>
      
         </choice>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.declarable.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_profileDesc">
      <element name="profileDesc">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(text-profile description) provides a detailed description of non-bibliographic aspects of a text, specifically the languages and sublanguages used, the situation in which it was produced, the participants and their setting. [2.4. The Profile Description 2.1.1. The TEI Header and Its Components]</a:documentation>
         <zeroOrMore>
            <ref name="tei_model.profileDescPart"/>
         </zeroOrMore>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_creation">
      <element name="creation">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains information about the creation of a text. [2.4.1. Creation 2.4. The Profile Description]</a:documentation>
         <group>
            <ref name="tei_title"/>
            <ref name="tei_origDate"/>
            <ref name="tei_origDate"/>
         </group>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_langUsage">
      <element name="langUsage">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(language usage) describes the languages, sublanguages, registers, dialects, etc. represented within a text. [2.4.2. Language Usage 2.4. The Profile Description 15.3.2. Declarable Elements]</a:documentation>
         <choice>
        
            <oneOrMore>
               <ref name="tei_model.pLike"/>
            </oneOrMore>
         
          
            <oneOrMore>
               <ref name="tei_language"/>
            </oneOrMore>
        
         </choice>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.declarable.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_language">
      <element name="language">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes a single language or sublanguage used within a text. [2.4.2. Language Usage]</a:documentation>
         <ref name="tei_macro.phraseSeq.limited"/>
         <ref name="tei_att.global.attributes"/>
         <attribute name="ident">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) Supplies a language code constructed as defined in BCP 47 which is used to identify the language documented by this element, and which is referenced by the global xml:lang attribute.</a:documentation>
            <choice>
               <value>fro</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <value>frm</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <value>gmh</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <value>lat</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <value>dum</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <value>enm</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <value>wlm</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <value>osp</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <value>pro</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <value>cat</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <value>ita</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <value>grc</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <value>other</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            </choice>
         </attribute>
         <optional>
            <attribute name="usage">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the approximate percentage (by volume) of the text which uses this language.</a:documentation>
               <data type="nonNegativeInteger"/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_textClass">
      <element name="textClass">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(text classification) groups information which describes the nature or topic of a text in terms of a standard classification scheme, thesaurus, etc. [2.4.3. The Text Classification]</a:documentation>
         <zeroOrMore>
            <choice>
        
        
               <ref name="tei_keywords"/>
            </choice>
         </zeroOrMore>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.declarable.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_keywords">
      <element name="keywords">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a list of keywords or phrases identifying the topic or nature of a text. [2.4.3. The Text Classification]</a:documentation>
         <choice>
      
            <oneOrMore>
               <ref name="tei_term"/>
            </oneOrMore>
      
      
         </choice>
         <ref name="tei_att.global.attributes"/>
         <optional>
            <attribute name="scheme">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the controlled vocabulary within which the set of keywords concerned is defined, for example by a taxonomy element, or by some other resource.</a:documentation>
               <data type="anyURI"/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_TEI">
      <element name="TEI">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(TEI document) contains a single TEI-conformant document, combining a single TEI header with one or more members of the model.resourceLike class. Multiple TEI elements may be combined to form a teiCorpus element. [4. Default Text Structure 15.1. Varieties of Composite Text]</a:documentation>
         <group>
            <ref name="tei_teiHeader"/>
            <oneOrMore>
               <ref name="tei_model.resourceLike"/>
            </oneOrMore>
         </group>
         <ns xmlns="http://purl.oclc.org/dsdl/schematron"
             prefix="tei"
             uri="http://www.tei-c.org/ns/1.0"/>
         <ns xmlns="http://purl.oclc.org/dsdl/schematron"
             prefix="xs"
             uri="http://www.w3.org/2001/XMLSchema"/>
         <ns xmlns="http://purl.oclc.org/dsdl/schematron"
             prefix="rng"
             uri="http://relaxng.org/ns/structure/1.0"/>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.typed.attributes"/>
         <optional>
            <attribute name="version">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the version number of the TEI Guidelines against which this document is valid.</a:documentation>
               <data type="token">
                  <param name="pattern">[\d]+(\.[\d]+){0,2}</param>
               </data>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_text">
      <element name="text">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a single text of any kind, whether unitary or composite, for example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus sample. [4. Default Text Structure 15.1. Varieties of Composite Text]</a:documentation>
         <group>
      
        
      
      
        
        
            <zeroOrMore>
               <ref name="tei_model.global"/>
            </zeroOrMore>
        
      
            <choice>
               <ref name="tei_body"/>
        
            </choice>
      
        
      
      
        
        
            <zeroOrMore>
               <ref name="tei_model.global"/>
            </zeroOrMore>
        
      
         </group>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.declaring.attributes"/>
         <ref name="tei_att.typed.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_body">
      <element name="body">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(text body) contains the whole body of a single unitary text, excluding any front or back matter. [4. Default Text Structure]</a:documentation>
         <group>
      
      
            <zeroOrMore>
               <ref name="tei_model.global"/>
            </zeroOrMore>
      
      
      
            <optional>
               <group>
          
                  <ref name="tei_model.divTop"/>
          
          
                  <zeroOrMore>
                     <choice>
                        <ref name="tei_model.global"/>
                        <ref name="tei_model.divTop"/>
                     </choice>
                  </zeroOrMore>
          
               </group>
            </optional>
      
      
      
            <optional>
               <group>
          
                  <ref name="tei_model.divGenLike"/>
          
          
                  <zeroOrMore>
                     <choice>
                        <ref name="tei_model.global"/>
                        <ref name="tei_model.divGenLike"/>
                     </choice>
                  </zeroOrMore>
          
               </group>
            </optional>
      
      
        
            <choice>
          
          
               <oneOrMore>
                  <group>
              
                     <ref name="tei_model.divLike"/>
              
              
                     <zeroOrMore>
                        <choice>
                           <ref name="tei_model.global"/>
                           <ref name="tei_model.divGenLike"/>
                        </choice>
                     </zeroOrMore>
              
                  </group>
               </oneOrMore>
          
          
          
               <oneOrMore>
                  <group>
              
                     <ref name="tei_model.div1Like"/>
              
              
                     <zeroOrMore>
                        <choice>
                           <ref name="tei_model.global"/>
                           <ref name="tei_model.divGenLike"/>
                        </choice>
                     </zeroOrMore>
              
                  </group>
               </oneOrMore>
          
          
               <group>
                  <oneOrMore>
                     <group>
              
                        <ref name="tei_model.common"/>
              
              
                        <zeroOrMore>
                           <ref name="tei_model.global"/>
                        </zeroOrMore>
              
                     </group>
                  </oneOrMore>
            
                  <optional>
                     <choice>
                
                
                        <oneOrMore>
                           <group>
                    
                              <ref name="tei_model.divLike"/>
                    
                    
                              <zeroOrMore>
                                 <choice>
                                    <ref name="tei_model.global"/>
                                    <ref name="tei_model.divGenLike"/>
                                 </choice>
                              </zeroOrMore>
                    
                           </group>
                        </oneOrMore>
                
                
                
                        <oneOrMore>
                           <group>
                    
                              <ref name="tei_model.div1Like"/>
                    
                    
                              <zeroOrMore>
                                 <choice>
                                    <ref name="tei_model.global"/>
                                    <ref name="tei_model.divGenLike"/>
                                 </choice>
                              </zeroOrMore>
                    
                           </group>
                        </oneOrMore>
                
                     </choice>
                  </optional>
            
               </group>
            </choice>
        
      
      
      
            <zeroOrMore>
               <group>
          
                  <ref name="tei_model.divBottom"/>
          
          
                  <zeroOrMore>
                     <ref name="tei_model.global"/>
                  </zeroOrMore>
          
               </group>
            </zeroOrMore>
      
         </group>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.declaring.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_origDate">
      <element name="origDate">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(origin date) contains any form of date, used to identify the date of origin for a manuscript, manuscript part, or other object. [10.3.1. Origination]</a:documentation>
         <zeroOrMore>
            <choice>
               <text/>
               <ref name="tei_model.gLike"/>
               <ref name="tei_model.phrase"/>
               <ref name="tei_model.global"/>
            </choice>
         </zeroOrMore>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.dimensions.attributes"/>
         <ref name="tei_att.typed.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_origPlace">
      <element name="origPlace">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(origin place) contains any form of place name, used to identify the place of origin for a manuscript, manuscript part, or other object. [10.3.1. Origination]</a:documentation>
         <ref name="tei_macro.phraseSeq"/>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.naming.attributes"/>
         <ref name="tei_att.typed.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_model.persNamePart">
      <notAllowed/>
   </define>
   <define name="tei_model.persNamePart_alternation">
      <notAllowed/>
   </define>
   <define name="tei_model.persNamePart_sequence">
      <empty/>
   </define>
   <define name="tei_model.persNamePart_sequenceOptional">
      <empty/>
   </define>
   <define name="tei_model.persNamePart_sequenceOptionalRepeatable">
      <empty/>
   </define>
   <define name="tei_model.persNamePart_sequenceRepeatable">
      <notAllowed/>
   </define>
   <define name="tei_persName">
      <element name="persName">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(personal name) contains a proper noun or proper-noun phrase referring to a person, possibly including one or more of the person's forenames, surnames, honorifics, added names, etc. [13.2.1. Personal Names]</a:documentation>
         <ref name="tei_macro.phraseSeq"/>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.personal.attributes"/>
         <ref name="tei_att.typed.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_eTree">
      <element name="eTree">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(embedding tree) provides an alternative to the tree element for representing ordered rooted tree structures. [19.3. Another Tree Notation]</a:documentation>
         <group>
      
            <optional>
               <ref name="tei_label"/>
            </optional>
      
      
            <zeroOrMore>
               <choice>
                  <ref name="tei_eTree"/>
          
                  <ref name="tei_eLeaf"/>
                  <ref name="tei_model.ptrLike"/>
               </choice>
            </zeroOrMore>
      
         </group>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.typed.attributes"/>
         <optional>
            <attribute name="value">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides the value of an embedding tree, which is a feature structure or other analytic element.</a:documentation>
               <data type="anyURI"/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_eLeaf">
      <element name="eLeaf">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(leaf or terminal node of an embedding tree) provides explicitly for a leaf of an embedding tree, which may also be encoded with the eTree element. [19.3. Another Tree Notation]</a:documentation>
         <group>
      
            <optional>
               <ref name="tei_label"/>
            </optional>
      
      
            <optional>
               <ref name="tei_model.ptrLike"/>
            </optional>
      
         </group>
         <ref name="tei_att.global.attributes"/>
         <ref name="tei_att.typed.attributes"/>
         <optional>
            <attribute name="value">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the value of an embedding leaf, which is a feature structure or other analytic element.</a:documentation>
               <data type="anyURI"/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="tei_listWit">
      <element name="listWit">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(witness list) lists definitions for all the witnesses referred to by a critical apparatus, optionally grouped hierarchically. [12.1. The Apparatus Entry, Readings, and Witnesses]</a:documentation>
         <group>
      
      
            <optional>
               <ref name="tei_model.headLike"/>
            </optional>
      
      
            <oneOrMore>
               <choice>
                  <ref name="tei_witness"/>
                  <ref name="tei_listWit"/>
               </choice>
            </oneOrMore>
        
      
         </group>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="tei_witness">
      <element name="witness">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains either a description of a single witness referred to within the critical apparatus, or a list of witnesses which is to be referred to by a single sigil. [12.1. The Apparatus Entry, Readings, and Witnesses]</a:documentation>
         <group>
            <ref name="tei_abbr"/>
            <ref name="tei_idno"/>
            <ref name="tei_origDate"/>
            <ref name="tei_origPlace"/>
            <group>
               <ref name="tei_ptr"/>
               <ref name="tei_ptr"/>
            </group>
            <ref name="tei_desc"/>
         </group>
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="openStemmata-witness-descId-constraint-rule-7">
            <sch:rule xmlns="http://www.tei-c.org/ns/1.0"
                      xmlns:s="http://purl.oclc.org/dsdl/schematron"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      context="tei:witness">
                                    <sch:assert test="@xml:id" role="error">Please add a @xml:id
                                        attribute</sch:assert>
                                </sch:rule>
         </pattern>
         <ref name="tei_att.global.attributes"/>
         <empty/>
      </element>
   </define>
   <start>
      <ref name="tei_TEI"/>
   </start>
</grammar>
